.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 115, 86, 0.40);
  z-index: 999999;
}

.modal {
  position: relative;
  width: auto;
  height: auto;
}
