.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;

  &:focus-within {
    border-bottom: 2px solid green;

    .icon-search {
      z-index: -1;
      transform: translateY(20%);
      transition: transform 0.3s ease, z-index .7s ease;
    }
  }

  input[type='text'] {
    z-index: 1;
    font-weight: 100;
    width: 100%;
    padding: 2px 5px;

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }
  }

  .icon-search {
    position: absolute;
    right: 5px;
    top: 12px;
    transform: translateY(-40%);
    transition: transform 0.3s ease;
    z-index: 1;
  }
}